* {
    margin: 0;
    padding: 0
}

.header {
    background-color: #1F2937;
    flex: 0
} 

.nav {
    display: flex;
    flex: 0; 
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
}

.left-nav {
    display: flex;
    flex: 0 0 auto;
    height: auto;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-nav {
    display: flex;
    gap: 22px; 
}

.welcome {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px;
    border-color: #1F2937;

}

.welcome-image {
    display: flex;
    height: 350px;
    width: 350px;
    margin-left: 80px 
}

p, h1 {
    display: flex; 
    flex-wrap: wrap;
    max-width: 350px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 350px;
    margin-left: 90px
}

h1 {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px; 
    margin-bottom: 15px
}

p {
    font-size: 18px;
    margin-bottom: 15px 
} 

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 25px;
    border: 2px solid #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0;
    margin-left: 90px

}

.text {
    display: flex;
    
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

a:link {text-decoration: none;}
a{color: #F9FAF8; font-family: Arial, Helvetica, sans-serif;}
a:visited {color: #F9FAF8}
a:hover {color: #E5E7EB}
